<!-- <body>
  <div class="center-div">
    <h4>Simple Calculator</h4>
      <input class="myInput" placeholder="Enter the number" [(ngModel)]="inputNum" [value]="inputNum"(change)="handleFileInput($event)">
      <div class="container">
        <br>
          <button type="button" (click)="addData()">Calculate</button>
        </div>
        <br>
        <div *ngIf="showResult">
          <label *ngIf="!showRedMsg">Sum is {{finalOutput}}</label>
          <label class="alertMsg" *ngIf="showRedMsg">{{finalOutput}}</label>

        </div>
  </div>
  
</body> -->
<h1>Simple Calculator</h1>
<form class="example-form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter the number</mat-label>
    <input matInput [(ngModel)]="inputNum" [ngModelOptions]="{standalone: true}">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput()">
      <mat-icon>close</mat-icon>
    </button>
  
  </mat-form-field>
</form>

<div class="example-button-row">
  <button mat-raised-button color="primary" (click)="addData()">Calculate</button>
</div>

<div class="example-button-row" *ngIf="showResult">
  <h3 *ngIf="!showRedMsg">Sum is {{finalOutput}}</h3>
  <h3 class="alertMsg" *ngIf="showRedMsg">{{finalOutput}}</h3>
</div>